.stand {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 85px 90px 70px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
